<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:include="~{head}"></th:block>
</head>
<body>
<header>
	<th:block th:include="~{navbar}"></th:block>
</header>
	<main class="mt-3">
	<form id="quizresult-form" class="form w-25 mx-auto" th:action="@{/quizresult/add/{id}(id=${model.id})}" method="post" >
         <table class="table table-hover w-75 mx-auto">

        
         <tr>
        <th>Question</th>
      </tr>
      <th:block th:each="question, iter : ${model.questions}">
      <tr >
        <td class="col-md-5 text-center" th:text="${question.text}"></td>
        <td >
            <div >
                <ul>
                	<th:block th:each="answer, iter : ${question.answers}">
                    <div >
                    <li>
                        <input  type="radio" th:name="${question.text}" th:value="${answer.score}" th:text="${answer.text}"  >
                    </li>   
                  <br>
                    </div>
                    </th:block>
                </ul>
            </div>
        </td>
      </tr>
      </th:block>
    </table>
    <div class="button-holder d-flex justify-content-center">
            <button type="submit" id="myButton" class="btn btn-success">Finish</button>
     </div>
    <div th:object="${quizResult}" style="display: none;">
    The value is: <input type="number"  id="selvalue" name="score" th:value="${score}" style="text-align:center; font-size:large;"/>
    </div>
      <div>Quiz closes in <span id="time"></span> minutes!</div>
    </form>
    </main>
<footer>
<th:block th:include="~{footer}"></th:block>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$("input[type=radio]"). click(function() {
var total = 0;
$("input[type=radio]:checked"). each(function() {
total += parseFloat($(this). val());
});
$("#selvalue"). val(total);
});

var expectedDuration= [[${model.expectedDuration}]];
setTimeout(function(){ window.location = "/home"; }, expectedDuration*60000);

function startTimer(duration, display) {
    var start = Date.now(),
        diff,
        minutes,
        seconds;
    function timer() {
        diff = duration - (((Date.now() - start) / 1000) | 0);

        minutes = (diff / 60) | 0;
        seconds = (diff % 60) | 0;

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds; 

        if (diff <= 0) {
            start = Date.now() + 1000;
        }
    };
    timer();
    setInterval(timer, 1000);
}

window.onload = function () {
    var duration = [[${model.expectedDuration}]]*60;
        display = document.querySelector('#time');
    startTimer(duration, display);
};

</script>
</html>