<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:include="~{head}"></th:block>
</head>
<body>
<header>
	<th:block th:include="~{navbar}"></th:block>
</header>
	<main class="mt-3">
    <h1 class="text-center text-dark">Leaderboard</h1>
    <hr class="hr-2 bg-dark w-75">
    <table class="table table-hover w-75 mx-auto">
        <thead>
        <tr class="row mx-auto">
            <th class="col-md-2 text-center">#</th>
            <th class="col-md-5 text-center">Name</th>
			 <th class="col-md-5 text-center">Score</th>   
        </tr>
        </thead>
        <tbody>

        <th:block th:each="quizResult, iter : ${quizResults}">
            <tr class="row mx-auto">
                <th class="col-md-2 text-center" th:text="${iter.index + 1}"></th>
                <td class="col-md-5 text-center" th:text="${quizResult.user.username}"></td>
                <td class="col-md-5 text-center" th:text="${quizResult.score}"></td>
                <td class="col-md-5 text-center">
                <!--    <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-dark">Edit</a> -->
                    <a th:href="@{/quizresult/user/{id}(id=${quizResult.user.id})}"  class="btn btn-dark">Show Profile</a>  -->
                </td>
            </tr>
        </th:block>


        </tbody>
    </table>
    <hr class="hr-2 bg-dark">
</main>
<footer>
<th:block th:include="~{footer}"></th:block>
</footer>
</body>
</html>